.navbar .collapse {
  justify-content: flex-end;
}

.navbar .navbar-brand img {
  height: 60px;
}

.navbar .nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0391e4 !important;
}

.navbar .collapse .btn-primary {
  margin-left: 20px;
}

p,
li {
  font-size: 18px;
}

.btn-primary {
  font-size: small;
  color: #fff !important;
  background-color: #fea803;
  border: 1px solid #fea803;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active {
  background-color: transparent !important;
  border: 1px solid #fea803 !important;
  color: #fea803 !important;
  outline: none !important;
  box-shadow: none !important;
}

.feedbackBtn {
  border: 1px solid #0391e4 !important;
  color: #fff !important;
  background-color: #0391e4 !important;
}

.feedbackBtn:hover {
  background-color: transparent !important;
  border: 1px solid #0391e4 !important;
  color: #0391e4 !important;
  outline: none !important;
  box-shadow: none !important;
}

h3 {
  margin: 0 0 30px;
}

section {
  padding: 50px 0;
}

.main {
  background-color: aliceblue;
  text-align: center;
}

.feedback {
  text-align: center;
}

.feedback button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.feedback p {
  margin: 5px;
}
.main_img {
  border-radius: 0px 90px;

  /* padding: 20px; */
  margin: 0 auto;
  height: 350px;
  margin-top: -40px;
}

.main .col-sm-12 {
  margin: 0 0 50px;
}

.main .item img {
  width: 60px;
  margin: 0 0 20px;
}

.parthner_section {
  text-align: center;
  margin-bottom: -30px;
  background-color: aliceblue;
}

.parthner {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: -150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parthner img {
  height: 160px;
  margin: 0 0 20px;
  transition: transform 0.2s;
}

.parthner img:hover {
  transform: scale(1.2);
}

/* .provide {
  background-color: aliceblue;
} */

.work {
  background-color: aliceblue;
}

.work img {
  width: 70%;
  margin: 0 0 20px;
}

.work_img {
  text-align: center;
}
.form {
  text-align: center;
  background-color: aliceblue;
}

.form .form-group {
  width: 50%;
  min-width: 290px;
  margin: 0 auto 30px;
  text-align: left;
}

.info {
  text-align: center;
  height: 260px;
}

.p_introduction {
  width: 50%;
  margin: 0 auto;
}
/* .imageWrapper {
  text-align: center;
} */

.about {
  text-align: center;

  width: 100%;
}

.container_about {
  width: 50%;
}
.about_text {
  margin-top: 10px;
}

.container_about h3 {
  margin-top: 20px;
}

.container_about p {
  margin-top: -20px;
}

.portrait {
  border-radius: 50%;

  width: 20%;
}

.contact {
  margin-top: -70px;
  text-align: center;
}
footer {
  /* background-color: aliceblue; */
  padding: 30px 0;
  text-align: center;
  background-color: aliceblue;
}

footer p:last-child {
  margin: 0;
}

footer a {
  color: #fea803 !important;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  section {
    padding: 30px 0;
  }

  p,
  li {
    font-size: 16px;
  }

  .navbar .collapse .btn-primary {
    margin: 0;
  }

  .container_about {
    width: 85%;
  }

  .parthner {
    margin-right: 0;
  }
}

/* ----------------------------------------------- */

.datenSchutz {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 50%;
  margin: auto;
}

.impressium {
  text-align: center;
}
